@import url(https://fonts.googleapis.com/css?family=Numans);

body{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
.wrapper {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing_now {
    width: 20ch;
    animation: typing 2.2s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Numans', sans-serif;
    font-size: 2em;
    color: #fff;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }